@charset "utf-8";
.access {
  padding: 90px 0 60px;
  color: #5a5c5f;
  text-align: center;
}
.access-title {
  margin-bottom: 15px;
  text-align: center;
}
.access-text {
  margin-bottom: 10px;
  text-align: center;
}
