ul{
    width:500px;
  }
  li{
    border-bottom:1px solid #ccc;
    list-style:none;
  }
  a{
    text-decoration:none;
    display: block;
    padding: 10px 0;
  }
  a:hover{
    background-color:#ccc;
  }
  span{
      color: #737373;
      vertical-align: middle;
      display: inline-block;
      margin-right: 10px;
  }
  p{
      color: #131313;
      display: inline-block;
      margin: 0;
      padding: 0;
      vertical-align: middle;
  }