@charset "utf-8";
dl div{
  border-bottom: solid 1px #f1f1f1;
  overflow: hidden;
  font-size: 14px;
}

dt {
	float: left;
	clear: left;
	padding: 15px 20px;
	background-color: #f1f1f1;
}

dd {
	float: left;
	margin-left: 1em;
	padding: 15px 20px;
  line-height: 2.0em;
}
	
a {
	color: #5c87a6;
	text-decoration: underline;
}

a:hover {
	color: #4bacb7;
	text-decoration: underline;
}
