@charset "utf-8";

.menu_list {
  /* padding: 80px 0; */
  color: #5a5c5f;
  text-align: center;

  /* display: flex;
  justify-content: center;
  align-items: center;
  height: 70vw;
  background: url('images/tenpo/menu_kusi.png') top center / cover no-repeat;
  color: #fff; */
}
.menu_list h2 {
  margin-bottom: 25px;
}
/* .menu_list-image {
  width: 450px;
  margin-bottom: 25px;
  height: 70vw;
  box-shadow: 2px 2px 4px #b7b7b7;
  border-radius: 5px;
} */

.main-image {
  width: 70vw;
}

.menu-kusi {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vw;
  background: url('images/tenpo/menu_kusi.png') top center / cover no-repeat;
  color: #fff; 
}